
.container {
    width: 854px;
    height: 480px;
    position: relative;
}

#overlay {
    width: 854px;
    height: 480px;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 10;
}